<h1>Search results for "{{ __SELF__.tag.name }}"</h1>

{% if __SELF__.posts %}
    <ul>
        {% for Post in __SELF__.tag.posts %}
             <li>
                 <a href="{{Post.url}}">{{ Post.title }}</a>
                 {% if Post.categories %}
                 - published in
                    {% for category in Post.categories %}
                        <a href="{{category.url|e}}">{{category.name}}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                 {% endif %}
             </li>
        {% endfor %}
    </ul>
{% else %}
    No posts found.
{% endif %}
